
/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

ul {
    list-style: none;
    margin: 0;
    color: #2E2F42;
    padding-left: 0;
}

a,
p {
    text-decoration: none;
    color: #434455;
    margin: 0;
}

.container {
    max-width: 1440px;
    padding:120px 156px;
    margin: 0;
}

img {
    display: block;
}

/* Header */

.header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
    padding: 0 15px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 76px;
}

 .nav {
    display: flex;
    align-items: center;
    margin-right: 76px;
 }

.nav__logo--studio {
    color: #2e2f42;
    font-weight: 700;
}

.nav__item{
    color: #2e2f42;
}

.nav__item:hover,
.nav__item:focus {
    color: #404bbf;

}

.nav__list {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    gap: 40px;
    padding-left: 76px;
}

.nav__link{
 color: #2e2f42;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
    color: #404bbf;
}

.nav__link:active {
    text-decoration: underline;
}

.address {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.address__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address__link:hover,
.address__link:focus {
    color: #404BBF;
}

/* Hero Section */
.hero {
    background-color: #2e2f42;
    color: #fff;
    text-align: center;
    padding: 188px 0
}

.hero .container{
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
}

.hero-buton {
      background-color: var(--button-bg-color, #4d5ae5);
        margin-top: 48px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        padding: 16px 32px;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;  
        margin-left: auto;
        margin-right: auto;
}

.hero-buton:hover,
.hero-buton:focus {
    background-color: #404bbf;
}

/* Services Section */

  .services {
    margin: 0;
    padding: 120px 0;
  }


.services-title {
    font-size: 36px;
    margin-bottom: 24px;
    display: none;
}

.service{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    margin: 0;
}
.service-li{
    padding: 0;
    text-align: left;
    width: calc((100% - 72px) / 4);
}

.service-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.service-title {
    margin-bottom: 8px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

/* Team Section */
.team {
    background-color: #f4f4fd;
    text-align: center;
    padding: 120px 0;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-member{
   display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
    margin: 0;
}

.team-member-li {
    background: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 0;
}

.team-member-title {
    margin-bottom: 8px;
    margin-top: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-member-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Portfolio Section */
.portfolio {
    text-align: left;
    padding: 120px 0;
    /* Відступи зверху та знизу */
}

.portfolio-title {
    margin-bottom: 72px;
    /* Відступ між заголовком та списком */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.cart-portfolio {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    row-gap: 48px;
    /* Відступи між рядами */
    column-gap: 24px;
    /* Горизонтальні відступи між елементами */
    margin: 0;
}

.card {
    background-color: #fff;
    width: calc((100% - 48px) / 3);
    /* Ширина пунктів списку */
    border: 1px solid #e7e9fc;
    border-top: none;
    /* Відміна верхньої обводки */
}

.card-content {
    padding: 32px 16px;
    /* Відступи від країв контейнера */
}

.title-row {
    margin-bottom: 8px;
    /* Відступ між заголовком і параграфом */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title-row-discr {
    margin-bottom: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
footer {
    background-color: #2e2f42;
    color: #fff;
    text-align: left;
    padding: 100px 0;
}

footer .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer__logo {
 font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.footer__logo--studio {
    color: #f4f4fd;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;
}
